@font-face {
    font-family: "botak";
    src: url('font/Om_Botak.ttf');
}

.amiko-semibold {
    font-family: "Amiko", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#homePage h1 {
    color: #202246;
    font-family: "botak";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#homePage #explain{
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

#homePage #explain img{
    margin-left: -200px;

}

#homePage #explain p{
    font-size: 16pt;
    color: rgba(229, 58, 94, 1);
    margin-left: 50px;

}

#homePage aside p {
    color: #202246;
    font-family: "Amiko";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#homePage {
    background-image: url("image/other/background_homepage.svg");
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: 5% 5%;
    transition: all 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
}

header {
    margin-top: 50px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {

    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 45px;
    font-family: "botak";
}

#homePage #items {
    margin-top: 5%;
    justify-self: center;
    height: 40vh;
    width: 70vw;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
}

#homePage #head {
    background-image: url(image/other/persona-illust.svg);
    position: absolute;
    bottom: 0%;
    right: 40%;
    width: 40%;
    height: 300px;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    background-size: contain;
}

#homePage #head:hover {
    background-image: url(image/other/persona_hovering.svg);
    transition: all 0.5s ease;
    bottom: -10px;

}

#homePage aside {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 30%;
}

#homePage .item:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

#homePage .item {
    height: 150px;
    width: 150px;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}

#homePage #pinceau {
    background-image: url('image/other/pinceau.svg');
    align-self: center;
}

#homePage #chat {
    background-image: url('image/other/chat.svg');
}

#homePage #collier {
    background-image: url('image/other/collier.svg');
}

#homePage #barrette {
    background-image: url('image/other/barrette.svg');
    align-self: self-end;
}

